h1 {
  text-align: center;
  margin: 1em;
}

.gol {
  color: #2272f4;
  border: 1px solid #ccc;
  border-radius: .5em;
  margin: 1em;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}

hr {
  margin: 1em;
}

.App-sonuc {
  border-radius: .5em;
  border: 1px solid #ccc;
  padding: 1em;
  margin: 1em;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}