.Damla {
    background: radial-gradient(circle, rgba(117, 170, 255, 0.147) 0%, rgba(130, 146, 245, .5) 100%);
    margin: 1rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(0, 55, 255, .6);
    font-weight: bold;
    cursor: pointer;
    transition: all .5s;
}